@import "./variables";

.text {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  place-self: center;
  min-width: 1rem;
  margin: calc($margin-bottom/4) 0;
  cursor: default;
}

.not-button {
  width: 100%;
  min-width: min-content;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.05rem;
  padding: 0.75em 1.33em;
  border-radius: $border-radius 0 0 $border-radius;
  border-style: $border-style;
  border-color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }
}

.info-card {
  width: 100%;
  min-height: calc(60vh - 5px);
  height: max-content;
  min-width: min-content;
  font-weight: bold;
  text-align: left;
  padding: 1.33rem;
  border-style: $border-style;
  border-color: rgba(255, 255, 255, 0.66);
}
