$background: #2b3039; // background-color:#282c34 or #2b3039
$primary-color: #00e344;
$border-radius: 0.33rem;
$border-style: inset outset outset inset;
$full-width: 100%;
$column-width: 100%;
$min-column-width: 7rem;
$max-column-width: 25vw;
$margin-bottom: 7.5vmin;
$max-list-height: 60vh;
